@import url(https://fonts.googleapis.com/css?family=Lato);

:root {
    --semiblack: #212121;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.navbar {
    background-color: var(--semiblack);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    float: right;
}

.navbar li {
    float: left;
}

.navbar a {
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    color: grey;
}

.navbar a::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, yellow, orange, red, pink);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar h2 {
    display: inline-block;
    font-size: 20px;
    color: white;
}

.about {
    text-align: center;
}

.about h2 {
    padding-top: 100px;
    font-size: 35px;
    color: white;
}

.about p {
    font-size: 20px;
    color: white;
}

.rgb-shift {
    color: white;
    animation: rgb-shift 4s ease infinite;
}

@keyframes rgb-shift {
    0% {
        color: #ff0000;
    }
    25% {
        color: #ffff00;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #00ffff;
    }
    100% {
        color: #0000ff;
    }
}

.skills-container {
    font-family: 'Lato', sans-serif;
    display: inline;
    justify-content: center;
}

.skills-container h2 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.skill h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.showcase-skill {
    display: inline;
    justify-content: center;
}

.skill-card {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 120px;
    height: 160px;
    background: #07182E;
    position: relative;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    z-index: 1;
}

.skill-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: 0.5s;
}

.skill-card p {
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

.invert img {
    filter: invert(1);
}

.projects {
    display: inline;
    text-align: center;
    justify-content: center;
}

.projects h2 {
    color: #fff;
    font-size: 35px;
    padding-top: 100px;
}

.project-card {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 400px;
    background: #07182E;
    position: relative;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    z-index: 1;
}

.project-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
}

.project-card h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.project-card p {
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

.contact {
    display: inline;
    text-align: center;
    justify-content: center;
}

.contact h2 {
    color: #fff;
    font-size: 35px;
    padding-top: 100px;
}

.contact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right-side {
    width: 50%;
    height: 400px;
    background: #07182E;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    z-index: 1;
}

.right-side h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.right-side form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side form input, textarea{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background: #07182E;
}

.right-side button {
    cursor: pointer;
    font-size: 15px;
    background: #07182E;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.right-side button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.right-side button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.right-side button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.right-side button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
  
.right-side button:hover span {
    transform: translateX(5em);
}
  
.right-side button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
}
  

.left-side {
    width: 50%;
    height: 400px;
    background: #07182E;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    z-index: 1;
}

.left-side h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.info {
    display: flex;
    align-items: center;
    padding: 20px;
}

.info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: 0.5s;
    filter: invert(1);
    margin-right: 10px;
}

.info p {
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

.info a {
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}